<div id="start-form" style="display: none">
    <form class="post-form" method="post">
        <table>
            <tr>
                <td>
                    <input class="post-submit" name="submit" type="submit" value="Send">
                </td>
            </tr>
            <tr>
                <td>
                    <input type="text" name="name" placeholder="Name" autocomplete="off">
                </td>
            </tr>
            <tr>
                <td>
                    <input type="text" name="theme" placeholder="Theme" autocomplete="off">
                </td>
            </tr>
            <tr>
                <td>
                    <textarea class="post-area" name="text" placeholder="Commentary"></textarea>
                </td>
            </tr>
            <!--<tr>
                <td>
                    <input type="file" class="file-input" name="file" placeholder="Drop File">
                </td>
            </tr>-->
            <tr>
                <td>
                    <div style="width: 100%">
                        <div class="file-input">
                            <div class="file-input-tbl">
                                <div class="file-input-cl">Drop File Here</div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </form>
</div>

<!--<input type="file" class="file-input" name="file" placeholder="Drop File">-->