<div class="adminbar">
    <div class="brand">
        <a class="alt-link" href="/">Project (You)</a>
    </div>
    <div class="navigation">
        <a href="/">Home</a>
        <a href="/">Settings</a>
        <select>
            <option selected value="default">Default</option>
            <option value="neutron">Neutron</option>
        </select>
        <form>
            <input type="text">
        </form>
    </div>
</div>
<hr>