<% layout('./layout/template') %>
<% block('title', '(You)') %>

<h2 class="header">Boards</h2>
<hr>
<div class="boards">
    <div class="column">
        <ul type="none">
            <li class="board-subj">Japanese Culture</li>
            <li>Anime</li>
            <li>Manga</li>
            <li>Visual Novels</li>
        </ul>
    </div>
    <div class="column">
        <ul type="none">
            <li class="board-subj">Video Games</li>
            <li>Video Games</li>
            <li><a href="/vg/">Video Games General</a></li>
            <li>The Elder Scrolls</li>
            <li>Consoles</li>
        </ul>
    </div>
    <div class="column">
        <ul type="none">
            <li class="board-subj">Technology and software</li>
            <li><a href="/pr/">Programming</a></li>
            <li>Hardware</li>
            <li>Soft</li>
            <li>Radio Engineering</li>
        </ul>
    </div>
    <div class="column">
        <ul type="none">
            <li class="board-subj">Others</li>
            <li><a href="/b/">Random</a></li>
            <li>Discussions</li>
            <li>Media</li>
            <li>Requests</li>
        </ul>
    </div>
    <div class="column">
        <ul type="none">
            <li class="board-subj">Interests</li>
            <li>Television</li>
            <li>Cartoons</li>
            <li>Sports</li>
            <li>Auto</li>
            <li>Science</li>
            <li>History</li>
        </ul>
    </div>
</div>