.fixed-form-container {
    background-color: #2c2c2c;
    position: fixed;
    border: 1px solid gray;
    border-radius: 10px 10px 0 0;
    z-index: 3;
}

.fixed-form-head {
    background-color: black;
    color: white;
    text-align: center;
    border-radius: 10px 10px 0 0;
    cursor: move;
}

.glyphicon-remove {
    position: absolute;
    right: 3px;
    cursor: pointer;
}

.resizer {
    position: absolute;
}

.resizer-top {
    height: 6px;
    top: -3px;
    left: 0;
    right: 0;
    cursor: ns-resize;
}

.resizer-bottom {
    height: 6px;
    bottom: -3px;
    left: 0;
    right: 0;
    cursor: ns-resize;
}

.resizer-left {
    width: 6px;
    left: -3px;
    top: 0;
    bottom: 0;
    cursor: ew-resize;
}

.resizer-right {
    width: 6px;
    right: -3px;
    top: 0;
    bottom: 0;
    cursor: ew-resize;
}

.fixed-file {
    position: fixed;
    cursor: pointer;
}

.start {
    text-align: center;
}

#start-form {
    padding: 5px
}

.post-form {
    display: inline-block;
    text-align: left;
}

.post-form input[name="submit"] {
    margin: 2px 2px 2px 0;
    width: 100px;
}

.post-form input[type="text"] {
    width: 100%;
}

.post-form textarea {
    width: 350px;
    height: 100px;
}

.file-link input[type="text"] {
    width: 200px;
}

.file-link input[type="submit"] {
    margin-left: 5px;
}

.file-input {
    display: inline-block;
    width: 90px;
    height: 90px;
    text-align: center;
    vertical-align: middle;
}

.file-utils {
    position: relative;
    height: 16px;
    float: none;
    margin-top: -18px;
    padding: 1px 0;
    background-color: rgba(95, 95, 95, 0.49);;
}

.file-btn {
    display: inline-block;
    margin: 0 1px;
    padding: 0 16px 16px 0;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.add {
    background-image: url("/img/add.gif");
}

.delete {
    background-image: url("/img/delete.img");
}

.file-input-tbl {
    display: table;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.file-input-cl {
    display: table-cell;
    vertical-align: middle;
    max-width: inherit;
}

.file-input-cl img {
    max-width: 86px;
    max-height: 86px;
}

.thread-buttons {
    margin-left: 10px;
    margin-bottom: 4px;
}