.post-info {
    display: block;
    margin-left: 15px;
}

.post-info span {
    margin-right: 5px;
}

.post-theme {

}

.post-name {

}

.post-date {

}

.post-id a{
    text-decoration: none;
    color: inherit;
}

.post-number {
    margin-left: 5px;
    margin-right: 10px;
    color: #4f7942;
}

.post-file {
    float: left;
    display: block;
    margin: 15px;
    max-width: 220px;
    max-height: 220px
}

.post-text {
    font-size: 1em;
    width: auto;
    margin: 15px 35px 15px 35px;
    display: block;
}

.post-reply {
    margin: 10px 4px 4px 4px;
    font-size: 75%;
    font-style: italic;
}

.op-post-wrapper {
    overflow: hidden;
    margin: 0;
}

.post-wrapper {
    overflow: hidden;
    margin: 4px 10px 4px 10px;
}

.op-post {
    display: inline-block;
    float: left;
    position: relative;
    min-width: 350px;
    max-width: 100%;
    word-wrap: break-word;
}

.post {
    display: inline-block;
    float: left;
    position: relative;
    min-width: 350px;
    max-width: 100%;
    word-wrap: break-word;
}