body {
    background-color: #212121;
    color: #698CC0;
    font-family: "Trebuchet MS", Trebuchet, tahoma, serif;
    font-size: 0.9em;
}

hr {
    background-color: #698CC0;
}

.alt-link:link, .alt-link:visited {
    text-decoration: none;
    color: #FF6600;
}

.alt-link:hover {
    color: #dbd220;
}

a:link, a:visited {
    text-decoration: none;
    color: #C9BE89;;
}

a:hover {
    color: #dbd220;
}

textarea, select, input[type="text"] {
    background-color: #111111;
    color: #fff;
    border: 2px solid #545454;
    border-radius: 5px;
}

select {
    color: #CCCCCC;
}

input[type="submit"] {
    background-color: #333333;
    color: #AAAAAA;
    border: 1px solid black;
    border-radius: 5px;
}

.file-input {
    background-color: #2a2a2a;
    border: 1px dashed #AAAAAA;
}

.post {
    background-color: #2C2C2C;
    border: solid 1px #575757;
    border-radius: 5px;
}

.post-theme {
    color: #3941AC;
    font-weight: bold;
    font-size: 1.2em;
}

.post-name {
    color: #B4B9CD;
    font-weight: bold;
    font-size: 1em;
}