<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= blocks.title %></title>

    <link rel="stylesheet" href="/vendor/bower_components/bootstrap/dist/css/bootstrap.css">
    <!--<link rel="stylesheet" href="/css/styles/default.css">-->
    <link rel="stylesheet" href="/css/styles/neutron.css">
    <link rel="stylesheet" href="/css/app.css">
    <link rel="stylesheet" href="/css/topNav.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/board.css">
    <link rel="stylesheet" href="/css/post.css">

    <script src="/vendor/bower_components/jquery/dist/jquery.js"></script>
    <script src="/vendor/bower_components/bootstrap/dist/js/bootstrap.js"></script>
</head>
<body>
<%- partial('../partials/topNav') %>
<%- body %>
</body>
</html>